# NOTE: to run real_orm_test.go you will need to set some env vars.
# A simple way to do it is to copy this file to .env and set the credentials for your local database

# Database stuff
ARANGODB_USER: root
ARANGODB_PASS: immasecret
ARANGODB_URL: http://localhost:8529
TEST_DB_NAME: testing

ORGANIZATION_ID_KEY: organization_id
